// //colors
// $blue-dark: #002e42;
// $blue-light: #005da2;
// $blue-highlight: #3d84bb;
// $orange-dark: #ff6c3d;
// $orange-light: #ffd233;
// $yellow: #f1ff90;

// //colors
// $blue-dark: #085f63;
// $blue-light: #49beb7;
// $blue-highlight: #89cec9;
// $orange-dark: #ff5959;
// $orange-light: #facf5a;
// $yellow: #fae9b9;

//colors
$blue-dark: #123043;
$blue-light: #15649c;
$blue-highlight: #4f86ad;
$orange-dark: #f0801d;
$orange-light: #f1c34c;
$yellow: #f8efb6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 58px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow-x: hidden;
    background-attachment: fixed;
    background-image: url("../images/background.png");
    background-size: 100vw 100vh;
    background-color: $orange-light;
}

.body-content {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    padding: 40px 0;
    align-self: center;
}
