@use "./global.style.scss" as g;

.skills-root {
    background: g.$orange-light;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: g.$blue-dark;

    .skills-list {
        color: g.$yellow;
        display: flex;
        justify-content: space-evenly;

        .skills-leftpart {
            display: flex;
            flex-direction: column;
            > div {
                padding: 0 20px;
            }
        }
    }
    img {
        max-height: 100px;
        max-width: 70%;
        object-fit: contain;
        filter: drop-shadow(0 0 8px rgba(#777, 0.7));
        margin: 20px;
    }

    .skills-cat {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        transition: 0.5s;
        flex: 1;

        .logos {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex: 1;
        }
        h2 {
            margin: 10px;
        }
        .duo {
            display: flex;
            flex-direction: column;
            & div {
                flex: 1;
                align-self: center;
            }
        }
        .logos.others {
            flex-direction: column;
            .duo {
                flex-direction: row;
            }
        }

        .logo-desc {
            position: relative;
            text-align: center;
            > p {
                font-size: 22px;
                font-weight: bolder;
                text-shadow: 0 0 4px rgba(#333, 0);
                white-space: nowrap;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: transparent;
                transition: 0.3s;
                filter: brightness(1) drop-shadow(0 0 8px rgba(#333, 0));
            }
            &:hover {
                img {
                    transition: 0.3s;
                    filter: brightness(0.3) drop-shadow(0 0 8px rgba(#333, 0.8));
                }
                p {
                    text-shadow: 0 0 4px rgba(#333, 1);
                    color: white;
                }
            }
        }

        background: linear-gradient(transparent 50%, g.$yellow 100%);
        background-size: 100% 200%;
        background-position: top;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            background-position: bottom;
            color: g.$orange-dark;
        }
    }

    .skills-cat.front {
        border-bottom: 1px solid g.$yellow;
    }
    .skills-cat.others {
        border-left: 1px solid g.$yellow;
    }
}
